language: php

php:
  - 7.1
  - 7.2

sudo: false

before_script:
  - travis_retry composer self-update
  - travis_retry composer install --no-interaction --prefer-source

script:
  - mkdir -p build/logs
  - ./vendor/bin/phpunit --coverage-text
  - ./vendor/bin/phpcs src --standard=psr2 -sp
  - ./vendor/infection/infection/bin/infection --threads=4 --min-covered-msi=50
  - ./vendor/bin/phpcs src --standard=phpcs.ruleset.xml
  - ./vendor/phpstan/phpstan/bin/phpstan analyze src --level=3

after_script:
  - php vendor/bin/coveralls
